<!DOCTYPE HTML>
<HTML>
    <head>
    <title></title>
    <meta charset="UTF-8">
    </head>
    <body>
        아이디<input type="txt"><br>
        비밀번호<input type="password"><br>
        비밀번호 확인<input type="password"><br>
        이름<input type="txt"><br>
        생년월일<input type="date"><br>
        이메일<input type="txt"><br>
        전화번호<input type="number"><br><br>
        
        개인정보는 회원 탈퇴시에도 파기되지 않고 영구히 보관됩니다.<br>
        동의 하십니까? <input type="checkbox"><br>
        <button>확인</button><button onclick="history.go(-1)">이전</button>
    </body>
</HTML>